$secondary-text: rgba(0, 0, 0, 0.45);

ul.Navigation {
  display: flex;
  padding: 0;
  list-style: none;

  li {
    margin: 0 6px;
    font-size: 0.7em;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    span {
      color: $secondary-text;
    }
  }
}
