.WigglyText {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
	position: relative;
	padding-bottom: 0.5em;
	overflow: hidden;
  white-space: nowrap;

  &::after {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
    content: attr(data-text)attr(data-text);
    color: transparent;
    line-height: 1.5rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ffc823;
  }

  &:hover::after {
    animation: slip-n-slide 3s linear infinite;
  }
}

@keyframes slip-n-slide {
  to {
    margin-left: -51%;
  }
}
